:ruby
  is_own_message = message.sender_id == current_user.id

- if is_own_message
  %li.right.clearfix
    %span.pull-right
    .chat-body.clearfix
      .header.pull-right
        %strong.primary-font
          = message.sender.try(:display_name)
        %small.text-muted
          %span.glyphicon.glyphicon-time
          = "#{time_ago_in_words(message.created_at)} ago"
        %p
          = message.body
- else 
  %li.left.clearfix
    %span.pull-left
    .chat-body.clearfix
      .header
        %strong.primary-font 
          = message.sender.try(:display_name)
        %small.text-muted
          %span.glyphicon.glyphicon-time
          = "#{time_ago_in_words(message.created_at)} ago"
        %p
          = message.body
