:ruby
  is_own_message = message.sender_id == current_user.id
  created_at = message.created_at.to_s(:iso8601)

- if is_own_message
  %li.right.clearfix
    .chat-body.clearfix{data: {id: message.id}}
      .header.pull-right
        .row.pull-right{style: 'padding: 0px 10px;'}
          %small.text-muted
            %span.glyphicon.glyphicon-time
            %time.timeago{datetime: created_at}
          %strong.primary-font
            = message.sender.try(:display_name)
        .row{style: 'padding: 0px 10px;'}
          %p.pull-right
            = message.body
- else 
  %li.left.clearfix
    .chat-body.from_other.clearfix{data: {id: message.id}}
      .header
        .row{style: 'padding: 0px 10px;'}
          %strong.primary-font 
            = message.sender.try(:display_name)
          %small.text-muted
            %span.glyphicon.glyphicon-time
            %time.timeago{datetime: created_at}
        .row{style: 'padding: 0px 10px;'}  
          %p
            = message.body

:javascript
  $(".chat-body[data-id='" + "#{message.id}" + "'] time.timeago").timeago();