<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for?(:title) ? yield(:title) : translate_helper("application_title") %>
  </title>
  <link href="https://fonts.googleapis.com/css?family=Barlow:400,400i,600,600i,800&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= split_stylesheet_link_tag "v1_theme", :media => "all" %>
  <%= render 'shared/google_maps/google_map_api' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div>
  <div id="session-timeout-warning" style="display: none;">
    <%= translate_helper("session_timeout_warning") %>
  </div>
  <div id="header" style="height: 50px;">
    <span id="brand">
      <span class="name">
        <a href='/'>
         <%= translate_helper("site_title") %>
        </a>
        <span style="font-weight: normal;"><%= translate_helper("application_cad_link_text") %></span>
      </span>
    </span>
    <div id="user-nav">
      <div class="current-provider">
        Logged in to 
        <% if @provider_map.size > 1 %>
          <%= form_tag change_provider_path %>
            <select name="provider_id" onchange="form.submit();">
              <%= options_for_select(@provider_map, selected = current_user.current_provider_id) %>
            </select>
            <%= hidden_field_tag "come_from", request.fullpath %>
          </form>
        <% else %>
          <%= current_user.current_provider.name %>
        <% end %>
      </div>
    </div>
  </div><!-- /#header -->

  <div class="main-wrapper">
    <div id="main" class="row">
      <div id="messages" class="wrap selfclear">
        <% if notice %>
          <p class="alert alert-info"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>
      <%= content_for?(:menu_bar) ? yield(:menu_bar) : '' %>
      <%= yield %>
    </div>
  </div>

  <%= render partial: 'layouts/footer' %>
  <%= yield :footer %>
  
  <%= render 'shared/application_alert_dialog' %>

  <% if current_user %>
    <%= javascript_tag do %>
      var current_provider_id = <%= current_provider_id %>;
      var current_user_id = <%= current_user.id %>;
      $(document).ready(function(){
        idleTimer = new IdleTimer();
        idleTimer.start();

        // this is to fix modal dialog under the fade mask
        $('.modal').appendTo("body") 
      });
    <% end %>
  <% end %>
  </div>
</body>
</html>
