<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for?(:title) ? yield(:title) : translate_helper("application_title") %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= split_stylesheet_link_tag "v1_theme", :media => "all" %>
  <%= render 'shared/google_maps/google_map_api' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css', media: 'all' %>
  <%= javascript_include_tag 'https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js' %>

  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body style="padding-top: 50px;">
  <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <h3 style="line-height: 40px;">Chat with driver <%= @run.driver.user.display_name %> (Run: <%= @run.name%>)</h3>
        </div>
      </div>
    </nav>

    <div class="container">
      <div id="messages" class="wrap selfclear">
        <% if notice %>
          <p class="alert alert-info"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>
      <%= content_for?(:menu_bar) ? yield(:menu_bar) : '' %>
      <%= yield %>
    </div>
    
    <%= render 'shared/application_alert_dialog' %>

    <% if current_user %>
      <%= javascript_tag do %>
        $(document).ready(function(){
          idleTimer = new IdleTimer();
          idleTimer.start();

          // this is to fix modal dialog under the fade mask
          $('.modal').appendTo("body") 
        });
      <% end %>
    <% end %>
  </div>
</body>
</html>
