= form_for :cad_date_picker, url: '#', html: { :id => "cad_date_filter_form", class: 'form-inline', style: "margin-bottom: 10px;" }, :method => :get do |f|
  = f.label :cad_day, "Select Date:"
  .input-group.datepicker-icon
    = f.text_field :cad_day, :value => format_time_for_listing_day(@cad_day), class: "form-control datepicker", readonly: true
    .input-group-btn
      %button.btn.btn-default{:type => "button"}
        = image_tag "calendar-clock.png"
= render "shared/date_time_picker_javascript"
:javascript
  $(document).ready(function(){
    makeDatePickers();

    $('#run_trip_filters_run_trip_day').change(function() {
      $(this).parents('form').submit();
    });
  });
      
    