.panel.panel-default#run_options_panel
  .panel-body{style: 'padding: 5px;'}
    %h3
      For Selected Runs, Show:
    .col-sm-12
      %input{type: 'checkbox', style: 'vertical-align: baseline'} &nbsp;
      = "Option 1"
    .col-sm-12
      %input{type: 'checkbox', style: 'vertical-align: baseline'} &nbsp;
      = "Option 2"
    .col-sm-12
      %input{type: 'checkbox', style: 'vertical-align: baseline'} &nbsp;
      = "Option 3"
    .col-sm-12
      %input{type: 'checkbox', style: 'vertical-align: baseline'} &nbsp;
      = "Option 4"
    .col-sm-12
      %input{type: 'checkbox', style: 'vertical-align: baseline'} &nbsp;
      = "Option 5"