:ruby
  itin = public_itin.itinerary
  address = itin.address
  customer = itin.trip.try(:customer)
  run = itin.run
  is_start = itin.leg_flag == 0
  is_end = itin.leg_flag == 3
  stop_label = case itin.leg_flag
  when 1
    "Pick Up #{customer.try(:name)} (Run: #{run.name})"
  when 2
    "Drop Off #{customer.try(:name)} (Run: #{run.name})"
  end


:css
  .stop_info p{
    line-height: normal !important;
  }

  .info_header {
    white-space: nowrap;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .info_title {
    white-space: nowrap;
    font-size: 16px;
    font-weight: bold;
  }

  .info_stop_name {
    height: 16px;
    font-weight: bold;
    margin-top: 3px;
  }

  .info_time {
    white-space: nowrap;
    height: 16px;
    color: #666666;
    padding-left: 4px;
    margin-left: 4px;
    border-left: 1px solid #bebebe;
  }

  .section_title {
    font-size: 14px;
    color: brown;
  }


.stop_info
  - if is_start || is_end
    .info_header
      %p.info_title 
        = is_start ? "Start Run (#{run.name})" : "End Run (#{run.name})"
      %p
        %span.info_stop_name= address.one_line_text
  - else
    .info_header
      %p.info_title= "#{stop_label}"
      %p
        %span.info_stop_name= address.one_line_text
        %span.info_time.info_update_time= "Data updated 0 seconds ago"
      %p.section_title 
        %b Info
      %ul.info_details
        %li
          %b Scheduled Time: 
          = itin.time ? format_time_for_listing(itin.time) : 'N/A'
        %li
          - if itin.finish_time
            - if itin.status_code == Itinerary::STATUS_COMPLETED
              %b Completed At:
              = format_time_for_listing(itin.finish_time)
            - elsif itin.status_code == Itinerary::STATUS_OTHER
              %label.label.label-danger No Show
          - else
            %b ETA: 
            = public_itin.eta ? format_time_for_listing(public_itin.eta) : 'N/A'
      

