:css
  .run_action {
    cursor: pointer;
  }

  .active_run_stop, .run_stop:hover {
    font-weight: bold;
    cursor: pointer;
  }

.col-md-3{style: 'padding: 0px 15px 0px 0px;'}
  = render 'date_picker'
  = render 'run_selector'
  = render 'run_options'

.col-md-9{style: 'padding: 0px;'}
  = render 'map'

= render 'cad_ui_js'