.col-md-3{style: 'padding: 0px 15px 0px 0px;'}
  = render 'date_picker'
  = render 'run_selector'
  = render 'run_options'

.col-md-9{style: 'padding: 0px;'}
  = render 'map'

= render 'cad_javascript'