- if @run
  var infoWindowOpen = infoWindow.getMap(); // check if info window was open
  removeVehicle(#{@run.id});
  var vehicle_loc = #{@vehicle_location_data.to_json.try(:html_safe) || {}};
  drawVehicle(vehicle_loc, infoWindowOpen);

= render 'render_run_stops'
= render 'render_prior_path'
= render 'render_upcoming_path'
